/Luma.xcodeproj/project.xcworkspace/xcuserdata/
/Luma.xcodeproj/xcuserdata/
/Luma/Generated/
/Sources/LumaCore/Generated/
/build/
/.build/
/.swiftpm/
/LumaGtk/.build/
/LumaGtk/.swiftpm/
/LumaGtk/Packages/
LumaGtk/screenshots/
LumaGtk/Sources/LumaGtk/luma.res
/.claude/
/Luma.xctestplan
LumaUITests/Resources/frida-gadget.dylib
