[Desktop Entry]
Name=Luma
Comment=The official Frida GUI
Exec=luma %U
Icon=re.frida.Luma
Terminal=false
Type=Application
Categories=Development;Debugger;
MimeType=application/x-luma-project;x-scheme-handler/luma;
StartupNotify=true
