[Desktop Entry]
Name=Luma
Comment=Dynamic instrumentation toolkit
Exec=luma-gtk %U
Icon=re.frida.Luma
Terminal=false
Type=Application
Categories=Development;Debugger;
MimeType=application/x-luma-project;x-scheme-handler/luma;
StartupNotify=true
